/*  default  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
    url('./images/background.jpg');
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form  */
form {
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Label  */
label {
    font-weight: bold;
}

/* Input  */
input[type="text"], input[type="submit"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #d00c0c;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #333; 
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555; 
}

/* adjustments */
@media screen and (max-width: 400px) {
    form {
        width: 90%;
    }
}
